*{
	margin: 0;
	padding: 0;
}
html{
	font-size: 16px;
	font-family: "微软雅黑";
}

/*导航栏*/
nav{
	width: 100%;
	height: 4rem;
	background-color: #000033;
}
nav .nav_left{
	width: 70%;
	height: 4rem;
	float: left;
}
nav .nav_right{
	width: 30%;
	height: 4rem;
	float: right;
}

/*左侧导航*/
.nav_left #nav_title{
	font-size: 1.25rem;
	color: #fff;
	display: inline-block;
	height: 4rem;
	line-height: 4rem;
	float: left;
	margin-left: 1rem;
}
.nav_left ul{
	float: left;
	list-style: none;
	margin-left: 1rem;
}
.nav_left ul li{
	float: left;
	height: 4rem;
	width: 8rem;
	line-height: 4rem;
	font-size: 1rem;
	position: relative;
}
.nav_left ul li a{
	color: #fff;
	font-size: 1rem;
	text-decoration: none;
	cursor: pointer;
	display: block;
	text-align: center;
	line-height: 4rem;
}
.nav_left ul li a:hover{
	color: #fff;
	background-color: #339933;
}
.navbar .secnav > ul{
		margin: 0;
		display:none;
		z-index: 1000000;
		width: 8rem;
		height: 12rem;
		position: absolute;
		top: 4rem;
		left: 0;
		background-color: #000033;
}

.secnav ul li{
	float: left;
	height: 4rem;
	width: 8rem;
	line-height: 4rem;
	font-size: 1rem;
}
.secnav ul li a{
	color: #fff;
	font-size: 1rem;
	text-decoration: none;
	cursor: pointer;
	display: block;
	text-align: center;
	line-height: 4rem;
}

/*右侧导航*/
.nav_right .region{
	float: left;
}
.nav_right .system{
	float: right;
	width: 16rem;
}
.nav_right p{
	display: inline-block;
	font-size: 1rem;
	color: #fff;
	height: 4rem;
	line-height: 4rem;

}
.nav_right select{
	border:none;
	color: #fff;
	background-color: #000033;
	font-weight: bold;
	outline: none;
}

.nav_right a{
	float: left;
	color: #fff;
	font-size: 1rem;
	display:block;
	text-decoration: none;
	height: 4rem;
	line-height: 4rem;
	text-align: center;
	width: 8rem;
}
.nav_right a:hover{
	color: #fff;
	background-color: #339933;
}


/*地图区域*/
#map{
	width: 100%;
	height: 55.25rem;/*浏览器高度-导航高度   window.innerHerght*/
}
/*侧边按钮*/
.slide_btn{
	position: fixed;
	z-index: 1000;
	top: 5.8rem;
	left: 37rem;
	width: 12rem;
	height: 2rem;
}
.slibutton{
	width:5rem;
	height:1.5rem;
	cursor:pointer;
	background-color:#00ccff;
	border:none;
	border-radius:1rem;
	color:#fff;
	line-height:1.5rem;
	text-align:center;
	font-size:1rem;
	outline:none;
}

/*搜索框*/
.search_infowindow{
	position:fixed;
	top: 5rem;
	left: 5rem;
	height: 4rem;
	z-index: 10;
}
.search_infowindow .search_text{
	width: 21rem;
	height: 3rem;
	outline: none;
	border:none;
	box-shadow: 0 5px 5px rgb(68,106,95);
	float: left;
	font-size: 1rem;
	padding-left: 5px;
}
.search_infowindow .search_text::-webkit-input-placeholder {
    color: #aab2bd;  
    font-size: 12px;        
    text-align: left;

}
.search_infowindow .search_btn{
	width: 4rem;
	height: 3rem;
	background: rgb(0,204,255);
	outline: none;
	font-size: 1.25rem;
	text-align: center;
	border:none;
	color: #fff;
}
.search_infowindow .search_btn:hover{
	background-color: #0099ff;
}
.search_infowindow .toggle_btn{
	outline: none;
	cursor: pointer;
	border:none;
	width: 5rem;
	height: 2rem;
	font-size: 1rem;
	color: #fff;
	background-color: rgb(0,204,255);
}
.info_content{
	font-size:1rem;
	width:280px;
	height:40px;
	line-height:40px;
	margin:0;
}

/*搜索条件*/
.search_condition{
	position: fixed;
	display: block;
	top: 8.5rem;
	left: 5rem;
	width: 25.3rem;
	background:rgba(255,255,255,.9);
	z-index: 999;
	overflow: hidden;
}
.search_condition li a:active{
    background: #0099ff;
    text-decoration:none;
    cursor:default;
}

.dl_list{
	display: block;
	list-style: none;
	float: left;
	margin-bottom: 0.25rem;	
}
.dl_list dt{
	width: 4.5rem;
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;

}
.dl_list ul{
	clear: both;
	overflow: hidden;
}
.dl_list ul li{
	list-style: none;
	float: left;
	margin-left: 0.25rem;
	margin-top: 0.25rem;
	width: 6rem;/*5rem*/
	height: 1.5rem;
	line-height: 1.5rem;
}
.dl_list ul li .cb_box{
	display:none;
	/*display: block;*/
	float: left;
}
.dl_list ul li label{
	display: inline-block;
	width: 6rem;
	height: 1.5rem;
	line-height: 1.5rem;
	text-align: center;
	cursor: pointer;
	color: #fff;
	background-color:/* rgb(0,204,255)*/#006699;
	border-radius: 4px;
	float: left;
}
.dl_list ul li label:hover{
	background-color: #0099ff;
}
.dl_list dd{
    margin-left:50px;
}

#selected_value{
	float: left;
	margin-bottom:0.25rem;
	

}
#selected_value .span1{
	float: left;
	color: #fff;
	background-color: rgba(102,102,255,.9);
	text-align: left;
	padding-left: 0.5rem;
	width: 6.7rem;
	margin-left: 1rem;
}
#selected_value .span1 .icon_remove{
	display: inline-block;
	height:1rem;
	width: 1rem;
	vertical-align: middle;
	float: right;
	padding-top: 0.3rem;
	background: url(../../data/image/close.png) no-repeat center;
}
.dl_list ul li .activate{
	color: #fff;
	background-color: rgba(102,102,255,.9);
	cursor: no-drop;
}
.dl_list ul li .activate:hover{
	background-color: rgba(102,102,255,.9);
}






.search_result{
	position: fixed;
	right: 1rem;
	top: 6rem;
	width: 25rem;
	display: none;
}
#result_title{
	height: 1.5rem;
	width: 100%;
	background: rgba(102,102,255,.9);	
}
#result_title p{
	padding-left: 0.25rem;
	color: #fff;
	font-size: 1.25rem;
	font-weight: bold;
	height: 1.25rem;
	line-height: 1.25rem;
	float: left;
}
#result_closeBtn{
	margin-top: 0.25rem;
	margin-right: 0.25rem;
	margin-bottom: 0;
	outline: none;
	border: none;
    cursor: pointer;
    float: right;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    background: url(../../data/image/close.png) no-repeat center;
}
#tabs{
	width: 25rem;
	margin: 0 auto;
}

#tabs li{
	float: left;
	width: 50%;
	list-style:none;
}

#tabs li a{
	display: block;
	padding: 0.8rem 1rem;
	background: #006699;
	text-align: center;
	text-decoration: none;
	color: #fff;
}

#tabs li a:hover{
	background: rgb(78, 74, 99);
}

#tabs_container {
	padding: 0.5rem;
	overflow: hidden;
	position: relative;
	background: white;
}


.transition {
	transition: all .3s ease-in-out;
	transition-delay: .3s;
}

.make_transist {
	transition: all .3s ease-in-out;
}

.hidescale {
	transform: scale(0.9);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	filter: alpha(opacity=0);
	opacity: 0;
}

.showscale {
	transform: scale(1);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	transition-delay: .3s;
}

.tabulous_active {
	background: white !important;
	color: #000 !important;
	font-size: 1rem;
	font-weight: bold;
	font-family: "微软雅黑";
}

.tabulousclear {
	display: block;
	clear: both;
}
#tabs_container #tabs-1{
	width: 100%;
	left: 0;
}
#tabs_container #tabs-1 > ul{
	width: 100%;
	height: 100%;
}
#tabs_container #tabs-1 > ul > .result_items{
	width: 100%;
	list-style: none;
	text-align: center;
}
#tabs_container #tabs-1 > ul > .result_items > .result_items_p{
	float:left;
	display: inline-block;
	text-align: center;
	margin-left: 9rem;
	height: 3rem;
	line-height: 3rem;
	width: 3rem;
}
#tabs_container #tabs-1 > ul > .result_items>.result_items_img{
	float: right;
	display: inline-block;
	vertical-align: middle;
}
#tabs_container #tabs-1 > ul > .result_items a{
	display: inline-block;
	float: left;
	color: #000;
	background-color: #fff;
	text-align: left;
}
#tabs-2 #echart_1{
	height: 40rem;
	width: 25rem;
}



/*地图图例*/
#legend{
	width: 13rem;
	height: 16rem;
	position: fixed;
	bottom: 0.5rem;
	left: 0.25rem;
	background:rgba(255,255,255,.9);
}

#legend #legend_title{
	background:rgba(102,102,255,.9);
	height: 1.5rem;
}
#legend_title p{
	padding-left: 0.25rem;
	color: #fff;
	font-size: 1rem;
	font-weight: bold;
	height: 1.5rem;
	line-height: 1.5rem;
	float: left;
}
#legend_title button{
	border:none;
	cursor: pointer;
	float: right;
	width: 1rem;
	height: 1rem;
	line-height: 1rem;
	margin-top: 0.25rem;
	vertical-align: middle;
	background:url(../../data/image/close.png) no-repeat center; 
}
#legend ul li{
	list-style: none;
	height: 3rem;
	line-height: 3rem;

}
#legend ul li img{
	vertical-align: middle;
	display: inline-block;
	float: left;
}
#legend ul li p{
	display: block;
	height: 3rem;
	float: left;
	margin-left: 1rem;
}